body{
    margin: 0;
    font-family: 'Fauna One', serif;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}

.headerLogo{
    text-align: center;
    max-width: 100px;
    margin-top: 10px
}
.headerTitle{
    text-align: right;
    float: right;
}
.clearf{
    clear: both;
}
.mainWork{
    text-align: center;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    padding: 10px 0;
}
.featWork{
    text-align: center
}

.feat1{
    width: 33.333%;
    float: left;
}
.feat2{
    width: 33.333%;
    float: left;
}
.feat3{
    width: 33.333%;
    float: left;
}

@media screen and (max-width:1015px){
    .feat1, .feat2, .feat3{
        width: 100%;
    }
}
@media screen and (max-width:1015px){
    .feat1, .feat2, .feat3{
        width: 100%;
    }
}